.card {
  @apply p-7 rounded-xl;
  font-family: Plus Jakarta Sans;
  background-color: #fff;

  .title {
    @apply mb-9;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: #00252e;
  }
  .subtitle {
    @apply mb-4;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    color: #000;
  }
  .text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #717171;
  }
}
